{{> head }}
{{> navbar }}


<div class="row">

    <div class="col-8">
        <h1>Spiderverse</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, quos quis? Id voluptatibus aliquid labore nostrum fugiat natus, doloremque possimus assumenda, illum harum, ullam est placeat eligendi dolore earum perspiciatis.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/spiders.jpg" alt="img-thumbnail">
    </div>

</div>


{{> footer }}